<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--required parameters below-->
    <add key="ServiceURL" value="https://youraccount.adobeconnect.com/api/xml"/>
    <add key="NetUser" value="acUser"/>
    <add key="NetPassword" value="acPassword"/>
    <!--optional parameters below-->
    <add key="UseSessionParameter" value="true"/>
    <add key="NetDomain" value=""/>
    <add key="NetProxyURL" value=""/>
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true"></defaultProxy>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>